.base-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  color: inherit;
  user-select: none;
  transition: transform 100ms ease;
}

.base-button:active {
  transform: scale(0.96);
}

.base-button.horizontal {
  flex-direction: row;
}

.base-button .label {
}

.base-button .icon {
  display: flex;
}

.base-button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 9;
  color: var(--text-primary);
}

.base-button .overlay:hover {
  cursor: pointer;
}

.base-button .overlay:active {
  background-color: var(--overlay-active);
}

.go-back {
  color: var(--text-primary);
}
.go-back .btn,
#headerMenuBtn .btn {
  padding: 0.75rem;
}

.go-back .btn .icon,
#headerMenuBtn .btn .icon {
  width: 22px;
  height: 22px;
}

.edit-btn .btn {
  padding: 0.75rem;
}
.edit-btn .btn .icon {
  width: 20px;
  height: 20px;
}

.delete .btn, .delete-btn .btn {
  padding: 0.75rem;
}
.delete .btn .icon, .delete-btn .btn .icon {
  width: 20px;
  height: 20px;
}
