.base-form {
  --title-bg: #1e2c47;
  --title-color: #ffffff;
  --content-bg: #ed143d;
  --control-bg: rgba(0, 0, 0, 0.5);
}

.base-form {}

.form-title {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--title-bg);
  color: var(--title-color);
}

.form-content {
  background-color: var(--content-bg);
  padding: 0.5rem;
}

.form-control {
  background-color: var(--control-bg);
  padding: 0.75rem;
  border-radius: 6px;
  /* custom: */
  margin-bottom: 0.75rem;
}

.form-control label {
  color: white;
  display: block;
  font-size: 20px;
  padding: 4px 0;
}

.form-control input {
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 24px;
  padding: 4px;
}

/* custom */
#exerciseForm {
  --title-bg: #4e004e;
  --content-bg: #711942;
}

#exerciseForm .submit .btn {
  background-color: #d0276e;
  padding: 2rem;
  font-size: 22px;
  border: 1px solid wheat;
}

#createSetForm {
  --content-bg: #4c0211;
}

#createSetForm .numeric-inputs {
  display: flex;
  gap: 0.75rem;
}

#createSetForm .submit .btn {
  background-color: #cb042d;
  padding: 2rem;
  font-size: 22px;
  border: 1px solid wheat;
}
