.base-form {
  --title-bg: #1e2c47;
  --title-color: #ffffff;
  --content-bg: crimson;
  --control-bg: rgba(0, 0, 0, 0.75);
}

.base-form {
}

.form-title {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--title-bg);
  color: var(--title-color);
}

.form-content {
  background-color: var(--content-bg);
  padding: 1rem;
}

.form-control {
  background-color: var(--control-bg);
  padding: 0.75rem;
  border-radius: 6px;
  /* custom: */
  margin-bottom: 1rem;
}

.form-control label {
  color: white;
  display: block;
  font-size: 20px;
  padding: 4px 0;
}

.form-control input {
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 24px;
  padding: 4px;
}

/* custom */
#createExerciseForm {
  /* --title-bg: violet; */
}
#createSetForm .numeric-inputs {
  display: flex;
  gap: 1rem;
}
