#logger {
  background-color: var(--surface-0);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  overflow-y: auto;
  padding-bottom: 52px;
  user-select: text;
}

#closeLogsBtn {
  padding: 1rem;
  font-size: 20px;
  text-align: right;
  background-color: var(--surface-2);
  color: var(--text-secondary);
  position: fixed;
  top: 3px;
  right: 3px;
  user-select: none;
  border: 1px solid var(--surface-4);
  border-radius: 8px;
}

#logs {
  margin-top: 64px;
}

.log-entry {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  background-color: var(--surface-3);
  font-size: 20px;
  padding: 4px;
  margin-bottom: 4px;
  color: var(--text-primary);
  min-height: 32px;
}

.log-entry.type-info {
  background-color: var(--log-info);
}

.log-entry.type-debug {
  background-color: var(--log-debug);
}

.log-entry.type-warn {
  background-color: var(--log-warn);
}

.log-entry.type-error {
  background-color: var(--log-error);
}

.log-entry.folded {
  max-height: 64px;
  overflow-y: hidden;
}
.log-entry.folded::after {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-strong);
  font-size: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  display: flex;
  content: "🔍";
  justify-content: end;
  align-items: end;
}