#sessionForm {
  --title-bg: var(--form-session-title);
  --content-bg: var(--form-session-content);
  background-color: var(--surface-0);
}

#sessionForm .heading,
#sessionForm .inputs-header {
  display: flex;
  align-items: center;
}

#sessionForm .heading {
  font-size: 22px;
  background-color: var(--form-session-title);
  padding-left: 12px;
  margin-bottom: 0.25rem;
}

#sessionForm .inputs-header {
  font-size: 18px;
  background-color: var(--form-session-content);
}

#sessionForm .inputs-header div {
  padding: 0.5rem 1rem;
}

.inputs-header .weight {
  width: 112px;
}

#sessionForm .inputs {
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 0.5rem;
  background-color: var(--form-session-content);
}

.weight-row {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.weight-row .form-control {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.weight-row input {
  font-size: 26px;
  text-align: right;
}

.weight-row input[name='weight'] {
  max-width: 72px;
}

.weight-row input[name='reps'] {
  max-width: 152px;
  text-align: left;
}
