#sessionForm {
  --title-bg: #1e1e1e;
  --inputs-bg: #001b4d;
  background-color: black;
}

#sessionForm .heading,
#sessionForm .inputs-header {
  display: flex;
  align-items: center;
}

#sessionForm .heading {
  font-size: 22px;
  background-color: #0042bd;
  padding-left: 12px;
  margin-bottom: 0.25rem;
}

#sessionForm .inputs-header {
  font-size: 18px;
  background-color: var(--inputs-bg);
}

#sessionForm .inputs-header div {
  padding: 0.5rem 1rem;
}

.inputs-header .weight {
  width: 112px;
}

#sessionForm .inputs {
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 0.5rem;
  background-color: var(--inputs-bg);
}

.weight-row {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.weight-row .form-control {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.weight-row input {
  outline: none;
  border-radius: 6px;
  border: 1px solid #8b8b8b;
  padding: 4px;
  font-size: 26px;
  background-color: black;
  color: white;
  text-align: right;
}

.weight-row input[name='weight'] {
  max-width: 72px;
}

.weight-row input[name='reps'] {
  max-width: 152px;
  text-align: left;
}

#sessionForm .submit .btn {
  background-color: #cb042d;
  padding: 2rem;
  font-size: 22px;
  border: 1px solid wheat;
}
