* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: rgba(2, 89, 89, 0.55);
  --header-bg: cyan;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

#app {
  background-color: var(--main-bg);
  color: white;
}

#main-header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1dvw;
  padding: 1dvw;
}

#main-header .btn {
  padding: 3dvw;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5dvw;
}

.modal .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal .close-modal {
  position: absolute;
  font-size: 20px;
  top: 2dvw;
  right: 2dvw;
  padding: 2dvw 2dvh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.modal .content {
  position: relative;
  background-color: green;
}

/* Styles derived by application sate: */

#app[data-creating-exercise='true'] .modal,
#app[data-creating-set='true'] .modal {
  display: flex;
}

#app[data-creating-exercise='false'] #createExerciseForm {
  display: none;
}
#app[data-creating-set='false'] #createSetForm {
  display: none;
}
