* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-bg: #111;
  --header-bg: black;
  --header-heigt: 64px;
  --footer-heigt: 48px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

div {
  user-select: none;
}

#app {
  background-color: var(--app-bg);
  color: white;
}

#cacheMajorVersion,
#indexedDbVersion {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
}

#indexedDbVersion {
  background-color: cyan;
}

#mainHeader {
  min-height: var(--header-heigt);
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: none;
}

.go-back {
  font-family: 'Courier New', Courier, monospace;
  font-size: 42px;
  padding: 0.5rem 1.5rem;
  background-color: rgb(255 255 255 / 25%);
}

.go-back:active {
  background-color: rgb(255 255 255 / 50%);
}

.page-title {
  font-size: 28px;
  padding: 0.5rem;
  color: coral;
}

.hamburger {}

.views {
  background-color: #002929;
}

.views .page {
  min-height: calc(100dvh - var(--header-heigt) - var(--footer-heigt));
}

#mainFooter {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1dvw;
}

#mainFooter .btn {
  padding: 3dvw;
  color: white;
}

#exerciseListView {
  --list-bg: #7f031c;
  --title-bg: crimson;
  --row-bg: rgba(0, 0, 0, 0.75);
}

#exerciseListView {}

#exerciseListView .list {
  color: black;
  padding: 0.25rem;
  background: var(--list-bg);
}

#exerciseListView .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

#newExerciseBtn {
  position: fixed;
  bottom: calc(var(--footer-heigt) + 1dvh);
  right: 2.5dvw;
  width: 80px;
  height: 80px;
  z-index: 1;
  border-radius: 50%;
  background-color: var(--list-bg);
  color: white;
  font-size: 40px;
  border: 1px solid transparent;
}

#newExerciseBtn:active {
  background-color: #d5002b;
  border-color: rgba(255, 255, 255, 0.5);
}

#singleExerciseView {}

#singleExerciseView .name {
  font-size: 26px;
  background-color: #7f031c;
  padding: 1rem;
}

#singleExerciseView .set-history-container {
  background-color: #1c0006;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

.set-history-container h4 {
  font-size: 18px;
  padding: 0.25rem;
}

.set-history {
  margin-bottom: 12px;
  font-family: 'Courier New', Courier, monospace;
}

.set-history.current-date-log {
  background-color: #002d00;
  font-size: 1.25rem;
}

.set-history .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  margin-bottom: 4px;
}

.row .weight-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.75rem;
}

.weight-container .weight {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px;
  border-radius: 4px;
}

/* Generic for lists */
.list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2dvw;
  color: white;
  background-color: var(--row-bg);
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 6px;
  border: 1px solid transparent;
}

.list .row:active {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.list .row .right-side {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: flex;
  padding-left: 0.5rem;
  flex-direction: column;
  align-items: end;
  gap: 1dvh;
  text-align: right;
}

.list .row .exerciseName {
  font-size: 22px;
}

.list .row .last-set-data {
  font-size: 18px;
}

.list .row .timestamp {
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1dvw;
}

.modal .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal .close-modal {
  position: absolute;
  top: 1dvh;
  right: 5dvw;
  font-size: 42px;
}

.modal .content {
  position: absolute;
  top: 60px;
  border-radius: 8px;
  max-height: 85dvh;
  overflow-y: auto;
}

/* State Machine */

/* Things that would open the modal */
#app[data-creating-exercise='true'] .modal {
  display: flex;
}

/* Things that will be displayed or not based on status */
#app[data-creating-exercise='false'] #createExerciseForm {
  display: none;
}

#app:not([data-current-view='ExerciseList']) #exerciseListView {
  display: none;
}

#app:not([data-current-view='SingleExercise']) #singleExerciseView {
  display: none;
}

#app[data-current-view='ExerciseList'] .go-back {
  width: 0;
  overflow: hidden;
  padding: 0;
}